<h1 style="text-align: center;">Edit Article</h1>
<%= render partial: 'form', locals: {article: @article, action: 'update'} %>
<br>
<div class="btn">
    <%= link_to 'Back', article_index_path %>
</div>
